/*reseta boxes*/
* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-size: 1020px;
}

@media (max-width: 375px) {
  :root {
    --bg-size: 320px;
  }
}

.main {
  margin: auto;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 800px;
  width: 100%;
  background-color: hsl(212, 45%, 89%);
}


 .main-center {

  margin-top: 100px;
  
  width: 290px;
  height: 450px;
  align-items: center;
  text-align: center;


  background-color: hsl(0, 0%, 100%);

  border-radius: 15px;
} 


  /* .main-center {
    margin-left: 500px; 
    margin-right: 500px;
    margin-top: 15px;

    align-items: center;
    text-align: center;
    border-radius: 15px;
    max-width: var(--bg-size) ;

    background-color: hsl(0, 0%, 100%);
  }*/


.qrcode img {
  margin-top: 18px;
  align-items: center;
  border-radius: 12px;

  width: 253px;
  height: 254px;
  margin-bottom: 18px;

}

.first-text {
  font-family: 'Outfit', sans-serif;
  font-weight: Bold;
  color: hsl(218, 44%, 22%);
  font-size: 14px;
  margin-bottom: 18px;
  width: 235px;
  height: 45px;

}

.second-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 'regular';
  color:  hsl(220, 15%, 55%);
  font-size: 12px;

  width: 233px;
  height: 49px;

  margin-bottom: 18px;

}
