:root {
  --bg-size: 1020px;
}

@media (max-width: 375px) {
  :root {
    --bg-size: 320px;
  }
}

.main {
  margin: auto;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 700px;
  /* position: relative; */
  
  background-color: hsl(212, 45%, 89%);
}

.main-center {
  margin-top: 100px;
  
  width: 290px;
  height: 450px;
  align-items: center;
  text-align: center;

  background-color: hsl(0, 0%, 100%);

  border-radius: 15px;
}

.qrcode img {
  margin-top: 18px;
  align-items: center;
  border-radius: 12px;
  width: 253px;
  height: 254px;
}

.first-text {
  font-family: 'Outfit', sans-serif;
  font-weight: Bold;
  color: hsl(218, 44%, 22%);
  font-size: 14px;
  margin-left: 28px;
  margin-right: 28px;
}

.second-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 'regular';
  color:  hsl(220, 15%, 55%);
  font-size: 12px;
  margin-left: 28px;
  margin-right: 28px;
}
